@import 'tailwindcss/components';

@layer components {
  .marker {
    @apply
    border-[3px]
    border-white
    rounded-full
    shadow-[4px_4px_20px_rgba(118,118,118,0.3)];
  }
  .marker_self {
    @apply
    marker
    !w-6
    !h-6
    bg-accent-400
    before:content-['']
    before:absolute
    before:w-1
    before:h-1
    before:rounded-full
    before:border-accent-400
    before:left-[7px]
    before:top-[7px]
    before:border-2
    before:animate-[ping_1s_infinite];
  }
  .marker_map {
    @apply !w-fit !h-fit border-none;
    &_hole {
      @apply relative w-5 h-[6px] rounded-[50%] left-1/2 -translate-x-1/2 -translate-y-[2px] z-[1];
    }
    &_available {
      @apply relative w-6 h-5 text-center font-bold bg-white left-1/2 -translate-x-1/2 translate-y-[29px];
    }
  }

  @keyframes ping {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(14);
    }
  }
}